# Ignore Python cache files
src/__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Jupyter lab log file
log.file

# Ignore PNG image files
*.png
!report/*.png
!report/trimmed_logos/*.png
!logo.png
# Ignore SLURM output
slurm*.out
