optuna==3.6.1
pickle5==0.0.11
importlib-metadata==6.0.0
importlib-resources==5.12.0
esparto==4.2.0
shap==0.41.0
numpy==1.23.5
pandas==1.5.3
evoaug==1.0.6
evoaug-tf==1.0.3
scikit-learn==1.2.1
scikeras==0.12.0
scikit-optimize==0.10.1
scikit-posthocs==0.8.0
scipy==1.10.1
seaborn==0.11.2
tensorboard==2.11.2
tensorflow==2.11.0
ipykernel==6.21.2
jupyter==1.0.0
jupyterlab==3.6.1